name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    permissions: write-all
    steps:
    
    - uses: actions/checkout@v4
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle
    - name: CHMOD GRADLEW
      run: chmod 777 ./gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Build Release APK
      run: ./gradlew assembleRelease
    - name: Nightly build
      uses: softprops/action-gh-release@v1
      with:
        body: Nightly Builds
        tag_name: github_nightly
        name: Nightly Builds
        files: |
           app/build/outputs/apk/release/app-release.apk
